<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/custom-layout.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/typography.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Errald</title>
</head>

<body class="grey lighten-2">
    {{>menuBar}}
    <div class="ui-main-container">
        <div class="ui-sidebar grey lighten-2">
            <div class="token-info"></div>
            <div class="help-btn-container">{{>helpModal}}</div>
        </div>
        <div class="ui-work-area grey lighten-5"></div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="module" src="js/app.js"></script>
</body>

</html>