<!-- Help modal trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Help</a>
<!-- Help modal structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content grey-text text-darken-4">
        <h3>Help</h3>
        <p>You can use Errald in four modes: normal, insert, edit, and remove.</p>
        <h5>Normal</h5>
        <p>Use normal mode to move between revisions.<br><br>
            <strong>j</strong> - Move left by one revision.<br>
            <strong>k</strong> - Move right by one revision.<br>
            <strong>i</strong> - Enter insert mode.
        </p>
        <blockquote>Note that Errald will only accept pre-approved error type codes. Update your list of
            approved error codes if you want new error codes to show up on Errald's autocomplete list.<br><br>
        </blockquote>
        <h5>Insert</h5>
        <p>Use insert mode to add errors to the selected revision.<br><br>
            <strong>i</strong> - Enter insert mode (if you're in normal mode).<br>
            <strong>Tab</strong> - Move to next input box or to the <em>Add</em>
            button. Pressing <strong>Tab</strong> when you reach the <em>Add</em> button will move you back to the
            first input box<br>
            <strong>Enter</strong> - Will add the error to the revision if you first
            <strong>Tab</strong> your way to the <em>Add</em> button.<br>
            <strong>Esc</strong> - Cancel and go back to normal mode.<br><br>
            You can also enter insert mode by clicking on the error info input boxes
            on the sidebar (if you're in normal mode).
        </p>
        <h5>Edit</h5>
        <p>Use edit mode to edit individual errors in the selected revision.<br><br>
            You can enter edit mode by clicking on the <em>Edit</em> button next to the error you want to
            edit.<br><br>
            <strong>Esc</strong> - Cancel and go back to normal mode.<br><br>
        </p>
        <h5>Remove</h5>
        <p>Use remove mode to remove individual errors in the selected revision.<br><br>
            Just click on the <em>X</em> button next to the error you want to
            remove.<br><br>
        </p>
        <blockquote>Removing all errors in a revision will remove the revision altogether.<br><br>
        </blockquote>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>