<div class="menu-bar grey darken-4 grey-text text-lighten-5">
    <p class="center-align">
        <b>{{ absoluteTeiFilePath }} (<span id="total-sentences-in-file"></span>)</b> - <span
            class="js-app-state"></span>
    </p>
</div>