* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.menu-bar {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tei-container {
  width: 900px;
  margin-top: 16.24px;
}

.ui-main-container {
  width: 100%;
}

.ui-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 75px;
}

.ui-work-area {
  height: 100%;
  margin-left: 50%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-error-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.corrected-input-container {
  /* display: flex;
  justify-content: flex-start; */
  /* align-items: flex-end; */
}

/* Buttons */

.btn-add-error {
  margin-left: 11.25px;
  margin-bottom: 23px;
}

.btn-menu-item {
  color: #ffffff;
}

.btn-update-corrected-text-container {
  display: flex;
  justify-content: flex-end;
}

.help-btn-container {
  margin-bottom: 36px;
}

.highlight-error-row-to-update {
  background-color: #ffcc80; /* Materialize CSS, orange lighten-3 */
}

.highlight-error-row-invalid-xtype {
  background-color: #ef9a9a; /* Materialize CSS, red lighten-3 */
}

.invalid-xtype-table-cell {
  font-weight: bold;
}

.selected-token {
  background-color: #ffcc80;
}

.hovered-token {
  background-color: #81d4fa;
}
